.form {
  display: grid;
  row-gap: 25px;
  padding: 40px 25px;
  box-shadow: 0 3px 7px rgba(103, 103, 103, 0.3);
  width: 400px;
  justify-items: center;
  border-radius: 6px;
  background-color: white;
}

.form > svg {
  width: 100px;
  height: 100px;
  fill: rgb(70, 70, 70);
}

.label {
  font-size: 18px;
  width: 100%;
  display: grid;
  row-gap: 10px;
  text-align: center;
}

.pass_container {
  position: relative;
}

.visible_toggler {
  height: 100%;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: grid;
  align-items: center;
  cursor: pointer;
}

.visible_toggler svg {
  stroke-width: 1px;
}

@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}
