.modal {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 40px 30px;
  background-color: rgb(94, 110, 255);
  border-radius: 6px;
  box-shadow: 0 4px 7px rgba(53, 53, 53, 0.2);
  color: white;
}
